
// Body
$body-bg: #f8fafc;

// Typography
$font-Light: "NespressoLucas-Light", sans-serif;
$font-Regular: "NespressoLucas-Regular", sans-serif;
$font-Semi: "NespressoLucas-SemiBd", sans-serif;
$font-Med: "NespressoLucas-Medium", sans-serif;
$font-Bold: "NespressoLucas-Bold", sans-serif;
$font-ExtraBold: "NespressoLucas-XtraBd", sans-serif;

// Colors
$white: #FFFFFF;
$black: #000000;
$red: #CE0000;
$green: #005454;

$beige: #F4EFEF;
$gold: #B3785A;